@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #f1f3f5;
}

.container {
  display: flex;
}

.number {
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0.125rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 1.5rem;
  border-radius: 50%;
  border: solid #ced4da;
  background-color: white;
  transition: border-color 1s;
}
.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  color: white;
  width: 5rem;
  height: 2rem;
  margin: 0.25rem;
  border-radius: 5px;
  background-color: #ced4da;
  border-color: #ced4da;
  border-bottom: #ced4da;
  border-right: #ced4da;
  cursor: not-allowed;
}

.btn:hover,
.btn:active {
  pointer-events: none;
}

.btn.active {
  pointer-events: all;
  cursor: pointer;
  background-color: #4263eb;
  border-color: #4263eb;
}

.number.active {
  border-color: #4263eb;
  transition: border-color 1s;
}
